@tailwind base;
@tailwind components;
@tailwind utilities;

#home{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.02)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    &{ @media screen and (max-width: 768px){
        background-image: none;
        
    } }
}

.Next,
.Previous {
    padding: 10px ;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    position: absolute;
    z-index: 10;
}



.dots {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dots span {
    background-color: rgba(255, 255, 255, 0.4);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.dots .span {
    background-color: white;
    border: solid 2px black;
    height: 10px;
    width: 10px;
}
.image-0{
    left: 0%;
    transform: translate(50%, 5%);
    z-index: 1;
}

.image-1{
    left: 0%;
    transform: translate(50%, 5%);
    z-index: 3;
}

.image-2{
    right: 0%;
    transform: translate(-50%, 5%);
    z-index: 2;
}

.image-3{
    right: 0%;
    transform: translate(-50%, 5%);
    z-index: 3;
}

.gradient,
.active {
    position: relative;
}

.gradient,
.active:hover::before {
    background-color: white;
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.active-on::before {
    background-color: white;
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.shad {
    box-shadow: 0px 2px 4px #5a5a5a;
}

@layer base {
    body {
        @apply text-lg leading-8 text-white;
    }
    .h2 {
        @apply text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
    .h3 {
        @apply font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
        @apply rounded-full  text-[#131313] font-medium;
    }
    .btn-tweet {
        @apply rounded-full  text-[#131313] font-semibold;
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold  hover:from-[#FF56F6] hover:to-[#42A6E3];
    }
    .section {
        @apply py-24  flex items-center;
    }
    .section-two {
        @apply py-24  flex items-center;
    }
    .navigation {
        @apply min-[320px]:translate-x-[150%] min-[320px]:duration-500 min-[320px]:transition-all;
    }
    .SlideTrue{
        @apply min-[768px]:opacity-100 min-[768px]:z-[10] transition-all duration-300 ease-out min-[768px]:absolute min-[768px]:left-1/2 min-[768px]:-translate-x-1/2 min-[768px]:w-2/5 z-[4] md:scale-100
    }
    .SlideFalse{
        @apply hidden md:block min-[768px]:z-[0] transition-all duration-300 ease-out min-[768px]:relative min-[768px]:w-2/5 md:scale-90
    }
}
